{{#> adminLayoutManagement}}
{{#*inline "content"}}
<div class="card">
    <div class="card-header">
        {{viewData.title}}
    </div>
    <div class="card-body">
        {{#if viewData.conversations}}
        <div id="ManagePost" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable dtr-inline">
                        <thead>
                            <tr style="text-align: center">
                                <th rowspan="1" colspan="1" style="">Conversation ID</th>
                                <th rowspan="1" colspan="1" style="">Lasted Update</th>
                                <th rowspan="1" colspan="1" style="">Senders</th>
                                <th rowspan="1" colspan="1" style="">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{!-- single page data --}}
                            {{#each viewData.conversations}}
                            <tr style="text-align: center">
                                <td>{{this.id}}</td>
                                <td>{{formatDate this.updated_time}}</td>
                                <td>
                                    <a data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample" id="toggleButton"
                                        style="color: white;">
                                        <i class="fa fa-plus" id="icon"></i> <span id="toggleText">Show</span>
                                    </a>
                                    <div class="collapse" id="collapseExample">
                                        {{#each this.senders.data}}
                                        <a>{{increment @index}}. {{this.name}}</a><br>
                                        {{/each}}
                                    </div>

                                </td>
                                <td style="text-align: center">
                                    <a class="btn btn-primary btn-sm"
                                        href='/admin/conversations/message?conversationId={{this.id}}'
                                        aria-label="detail">
                                        <i class="fas fa-folder">
                                        </i>
                                        Detail
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr style="text-align: center">
                                <th rowspan="1" colspan="1" style="">Conversation ID</th>
                                <th rowspan="1" colspan="1">Lasted Update</th>
                                <th rowspan="1" colspan="1">Senders</th>
                                <th rowspan="1" colspan="1" style="">Message</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="ManagePost_info" role="status" aria-live="polite">Showing 10 of
                        totals
                        entries</div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous" id="example1_previous"><a href="#"
                                    aria-controls="example1" data-dt-idx="0" tabindex="0"
                                    class="page-link text-white">Previous</a>
                            </li>
                            <li class="paginate_button page-item next" id="example1_next"><a href="#"
                                    aria-controls="example1" data-dt-idx="7" tabindex="0"
                                    class="page-link text-white">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{else}}
            <p>No Conversation Found</p>
            {{/if}}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var button = document.getElementById('toggleButton');
            var icon = document.getElementById('icon');
            var toggleText = document.getElementById('toggleText');

            button.addEventListener('click', function () {
                var isExpanded = button.getAttribute('aria-expanded') === 'true';

                // Toggle aria-expanded attribute
                button.setAttribute('aria-expanded', (!isExpanded).toString());

                // Toggle text and icon
                if (isExpanded) {
                    toggleText.innerText = 'Show';
                    icon.classList.remove('fa-minus');
                    icon.classList.add('fa-plus');
                } else {
                    toggleText.innerText = 'Hide';
                    icon.classList.remove('fa-plus');
                    icon.classList.add('fa-minus');
                }
            });
        });
    </script>
    {{/inline}}
    {{/adminLayoutManagement}}