{{#> adminLayoutManagement}}
{{#*inline "content"}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Facebook page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Manage Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About This Page</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Description</strong>

                            <p class="text-muted">
                                {{viewData.page.about}}
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                            <p class="text-muted">Ha Noi, Viet Nam</p>

                            <hr>

                            <hr>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity"
                                        data-toggle="tab">Activity</a></li>
                                {{!-- <li class="nav-item"><a class="nav-link" href="#timeline"
                                        data-toggle="tab">Timeline</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#chat" data-toggle="tab">Chat</a>
                                </li> --}}
                            </ul>
                        </div><!-- /.card-header -->

                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane text-center" id="activity">
                                    <div class="fb-page d-inline-block align-middle" data-href="https://www.facebook.com/179668665228573"
                                        data-tabs="timeline,events,messages" data-width="500" data-height=""
                                        data-small-header="false" data-adapt-container-width="true"
                                        data-hide-cover="false" data-show-facepile="true">
                                        <blockquote cite="https://www.facebook.com/179668665228573"
                                            class="fb-xfbml-parse-ignore">
                                            <a href="https://www.facebook.com/179668665228573">Test page</a>
                                        </blockquote>
                                    </div>
                                    <!-- Post -->
                                    {{!-- {{#if viewData.page.posts.data}} --}}
                                    {{!-- {{#if viewData.fistPost}} --}}
                                    {{!-- <div class="post">
                                        <!-- /.user-block -->
                                        <div class="fb-post"
                                            data-href="https://www.facebook.com/Testpage1201/posts/{{this.id}}"
                                            data-width="500"></div>
                                        <br>
                                        <a id="previousButton" class="link-black text-sm" type="button"><i
                                                class="fa fa-arrow-left mr-1 "></i>Previous</a>
                                        <a id="nextButton" class="link-black text-sm" type="button"><i
                                                class="fa fa-arrow-right mr-1"></i>Next</a>
                                        <span class="float-left">
                                            <a href="/admin/comment/getComment?id={{this.id}}"
                                                class="link-black text-sm">
                                                <i class="far fa-comments mr-1"></i> Comments
                                            </a>
                                            <a href="/admin/post/{{this.id}}/like" class="link-black text-sm"><i
                                                    class="far fa-thumbs-up mr-1"></i>
                                                Like</a>
                                            <a href="/admin/post/{{this.id}}/unlike" class="link-black text-sm"><i
                                                    class="far fa-thumbs-down mr-1"></i>
                                                UnLike</a>
                                            <a href="/admin/post/{{this.id}}/deletePost" class="link-black text-sm"><i
                                                    class="fa fa-trash mr-1"></i>
                                                Delete</a>

                                        </span>
                                        <br>
                                        <form method="POST" action="/admin/comment/{{this.id}}/createComment">
                                            <div class="input-group input-group-sm mb-0" style="width: 500px;">
                                                <input name='comment' class="form-control form-control-sm" type="text"
                                                    placeholder="Type a comment">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-primary">Comment</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div> --}}
                                    {{!-- {{/if}} --}}
                                    <!-- /.post -->
                                    {{!-- <div class="fb-comments" data-href="https://www.facebook.com/Testpage1201"
                                        data-width="500" data-numposts="5"></div> --}}
                                    {{!-- {{else}} --}}
                                    {{!-- <p>No Post found !!</p> --}}
                                    {{!-- {{/if}} --}}

                                    <div id="fb-root"></div>

                                    <!-- Your Chat Plugin code -->
                                    <div id="fb-customer-chat" class="fb-customerchat">
                                    </div>

                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0&appId=1100983394414551"
    nonce="r46OUAQi"></script>
<script>
    {{!-- var posts = [];
    var currentIndex = 0;
    var likeLink = document.querySelector('a[href="/admin/post/{{this.id}}/like"]');
    console.log(likeLink);
    var unlikeLink = document.querySelector('a[href="/admin/post/{{this.id}}/unlike"]');
    var deleteLink = document.querySelector('a[href="/admin/post/{{this.id}}/deletePost"]');
    var commentLink = document.querySelector('a[href="/admin/comment/post?id={{this.id}}"]');
    const xhr = new XMLHttpRequest();
    xhr.open('GET', 'https://violently-distinct-trout.ngrok-free.app/admin/postData');
    xhr.onload = function () {
        if (xhr.status === 200) {
            const data = JSON.parse(xhr.responseText);
            posts = data;
            console.log(posts[0].id);
        } else {
            console.error(`Error: ${xhr.status}`);
        }
    };
    xhr.onerror = function () {
        console.error('Request error');
    };
    xhr.send();
    // Initialize current index to 0
    function getNextPostId() {
        currentIndex++; // Increment current index
        if (currentIndex >= posts.length) {
            currentIndex = 0; // Reset current index to 0 if it's greater than or equal to the length of the posts array
        }
        return posts[currentIndex].id; // Return the id of the next post
    }
    function getPreviousPostId() {
        currentIndex--; // Decrement current index
        if (currentIndex < 0) {
            currentIndex = posts.length - 1; // Set current index to the last index of the posts array if it's less than 0
        }
        return posts[currentIndex].id; // Return the id of the previous post
    }
    document.getElementById('nextButton').addEventListener('click', function () {
        var nextPostId = getNextPostId();
        document.querySelector('.fb-post').setAttribute('data-href', 'https://www.facebook.com/Testpage1201/posts/' + nextPostId);
        FB.XFBML.parse();
    });
    document.getElementById('previousButton').addEventListener('click', function () {
        var previousPostId = getPreviousPostId();
        document.querySelector('.fb-post').setAttribute('data-href', 'https://www.facebook.com/Testpage1201/posts/' + previousPostId);
        FB.XFBML.parse();
    });
    document.getElementById('nextButton').addEventListener('click', function () {
        var nextPostId = getNextPostId();
        likeLink.href = '/admin/post/' + nextPostId + '/like';
        unlikeLink.href = '/admin/post/' + nextPostId + '/unlike';
        deleteLink.href = '/admin/post/' + nextPostId + '/deletePost';
        commentLink.href = '/admin/comment/getComment?id=' + nextPostId;
    });

    document.getElementById('previousButton').addEventListener('click', function () {
        var previousPostId = getPreviousPostId();
        likeLink.href = '/admin/post/' + previousPostId + '/like';
        unlikeLink.href = '/admin/post/' + previousPostId + '/unlike';
        deleteLink.href = '/admin/post/' + previousPostId + '/deletePost';
        commentLink.href = '/admin/comment/getComment?id=' + previousPostId;
    }); --}}
</script>
{{/inline}}
{{/adminLayoutManagement}}