{{#> adminLayoutManagement}}
{{#*inline "content"}}
<div class="card mb-4" id="postCommentDiv">
    <div class="card-body">
        <div class="container-fluid">
            <h5 class="text-center display-4">Post Comment on Id: {{viewData.postId}}</h5>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form method="POST" action="/admin/comment/{{viewData.postId}}/createComment"
                        enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Message</label>
                                <textarea class="form-control" name="message" rows="3" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input id="inputFile1" class="custom-file-input" type="file" name="fileUpload">
                                        <label id="file1" class="custom-file-label" for="exampleInputFile">Choose
                                            file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        {{viewData.title}}
    </div>
    <div class="card-body">
        {{#if viewData.comments}}
        <div id="ManagePost" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable dtr-inline">
                        <thead>
                            <tr style="text-align: center">
                                <th rowspan="1" colspan="1" style="">Comment ID</th>
                                <th rowspan="1" colspan="1" style="">Created Time</th>
                                <th rowspan="1" colspan="1" style="">Message</th>
                                <th rowspan="1" colspan="1" style="">From</th>
                                <th rowspan="1" colspan="1" style="">Replies</th>
                                <th rowspan="1" colspan="1" style="">Likes</th>
                                <th rowspan="1" colspan="1" style="">Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each viewData.comments}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{formatDate this.created_time}}</td>
                                <td>{{this.message}}</td>
                                <td>{{this.from.name}}</td>
                                <td style="text-align: center"><a href='/admin/comment/getComment?id={{this.id}}'
                                        aria-label="Detail">
                                        <i class="fas fa-info-circle" style="color: white;"></i>
                                    </a></td>
                                <td style="text-align: center">{{this.likes.summary.total_count}}</td>
                                <td style="text-align: center">
                                    <form action="/admin/comment/{{this.id}}/delete" method="GET">
                                        <input type="hidden" name="postId" id="postId" value={{../viewData.postId}}>
                                        <button type="submit"><i class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr style="text-align: center">
                                <th rowspan="1" colspan="1" style="">Comment ID</th>
                                <th rowspan="1" colspan="1">Created Time</th>
                                <th rowspan="1" colspan="1">Message</th>
                                <th rowspan="1" colspan="1" style="">From</th>
                                <th rowspan="1" colspan="1" style="">Replies</th>
                                <th rowspan="1" colspan="1" style="">Likes</th>
                                <th rowspan="1" colspan="1" style="">Delete</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="ManagePost_info" role="status" aria-live="polite">Showing 10 of
                        totals
                        entries</div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous" id="example1_previous"><a
                                    href="/admin/comment/getComment?id={{viewData.postId}}&next=&prev={{viewData.previousPage}}"
                                    aria-controls="example1" data-dt-idx="0" tabindex="0"
                                    class="page-link text-white">Previous</a>
                            </li>
                            <li class="paginate_button page-item next" id="example1_next"><a
                                    href="/admin/comment/getComment?id={{viewData.postId}}&next={{viewData.nextPage}}&prev="
                                    aria-controls="example1" data-dt-idx="7" tabindex="0"
                                    class="page-link text-white">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{else}}
            <p>No comment found</p>
            {{/if}}
        </div>
    </div>
</div>
<script>
    if (viewData.postId === '') {
        document.getElementById('postCommentDiv').style.display = 'none';
    }
</script>
<script>
    document.getElementById('inputFile1').addEventListener('change', function () {
        var fileName = this.files[0].name;
        document.getElementById('file1').textContent = fileName;

        if (this.files[0].type.match(/image.*/)) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('filePreview').src = e.target.result;
                document.getElementById('filePreview').style.display = 'block';
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
</script>
{{/inline}}
{{/adminLayoutManagement}}